
<section class="card-section">
  <div class="example-label"></div>
  <mat-card class="full-width-card">
    <div class="example-button-row">
      <button routerLink="/admin/products" mat-button color="primary">Books</button>
      <button routerLink="/admin/add" mat-button color="primary">Add Book</button>
      <button routerLink="/admin/register" mat-button color="primary">Add User</button>
      <button routerLink="/admin/orders" mat-button color="primary">Pending Orders</button>
      <button routerLink="/admin/orders/confirmed" mat-button color="primary">Confirmed Orders</button>
      <button routerLink="/admin/orders/completed" mat-button color="primary">Completed & Cancelled Orders</button>
      <button routerLink="/admin/statistics" mat-button color="primary">Statistics</button>
      <button routerLink="/admin/users" mat-button color="primary">Users</button>
    </div>
  </mat-card>
</section>
<br>
<router-outlet></router-outlet>
