<section class="chart-container">
  <div class="chart-item">
    <mat-card *ngIf="chartOptions">
      <div class="chart-content">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
      </div>
    </mat-card>
  </div>

  <div class="chart-item">
    <mat-card *ngIf="chartOptionsCategory">
      <div class="chart-content">
        <canvasjs-chart [options]="chartOptionsCategory" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
      </div>
    </mat-card>
  </div>

  <div class="chart-item">
    <mat-card *ngIf="chartOptionsProductCategory">
      <div class="chart-content">
        <canvasjs-chart [options]="chartOptionsProductCategory" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
      </div>
    </mat-card>
  </div>
</section>

