
.navbar {
  display: flex;
  align-items: center;
}
.form-control{
  border-radius : 3px;
  width : 400px;
  margin-left:25px;
}
.input-icon-container {
  position: relative;
  display: inline-block;
}

.search-input {
  padding-right: 25px;
}

.icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
